*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
}

.container{
    max-width: 140rem;
    padding: 0 2rem;
    margin: 1rem auto;
}

/* Header styles */
header{
    background-color: #000;
    padding: 0.8rem 0 2rem 0;
    color: #fff;
}

.info-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: bold;
}

.opening-hours span, .our-address{
    color: #A2A6B0;
    padding-right: 0.5rem;
}

.our-address span{
    color: #fff;
    border-bottom: 0.2rem solid #fff;
    padding: 0.3rem;
}

.store-contacts{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.menu ul{
    display: flex;
    list-style: none;
    padding: 0 1rem;
}

.menu ul li{
    margin-right: 2rem;
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 1s;
}

.menu ul li a:hover{
    color: #0156FF;
}

.menu ul li:last-child a{
    border: 0.2rem solid #0156FF;
    border-radius: 2rem;
    padding: 0.8rem 2.5rem;
    color: #0156FF;
    transition: none;
}

.menu ul li:last-child a:hover{
    color: #fff;
    border: 0.2rem solid #fff;
}

.mobile-menu-icon{
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: #A2A6B0;
}

.action-icons{
    display: flex;
    gap: 2rem;
}

.search{
    cursor: pointer;
}

.cart{
    position: relative;
    cursor: pointer;
}

.itens-cart{
    height: 1rem;
    width: 1rem;
    background-color: #0156FF;
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: -1.2rem
}

/* Add cart items styles */
.add-cart{
    border-radius: 1rem;
    display: none;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    color: #000;
    font-weight: bold;
}

.add-cart img{
    background-color: #000;
    border-radius: 1rem;
    padding: 0.5rem;
}

.actions-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.decrease-quantity, .increase-quantity{
    border: 0.1rem solid #000;
    padding: 0.5rem 0.8rem;
    width: 2.381rem;
    height: 2.8rem;
    text-align: center;
    cursor: pointer;
}

.decrease-quantity{
    border-radius: 1rem 0 0 1rem;
}

.increase-quantity{
    border-radius: 0 1rem 1rem 0;
}

.number-quantity{
    font-size: 1.8rem;
}

.card-new-product:hover .add-cart{
    display: flex;
}


/* New products styles */
.new-prodcuts{
    margin: 3rem 0;
}

.header-new-products{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.header-new-products h1{
    font-weight: bold;
}

.header-new-products a{
    color: #0156FF;
    font-size: 1.3rem;;
}

.general-content-card-products{
    display: flex;
    justify-content: space-between;
}

.card-new-product{
    padding: 1rem;
    margin: 1rem 0;
    transition: all 0.5s ease-in-out;
}

.card-new-product:hover{
    cursor: pointer;
    background-color: #A2A6B070;
    border-radius: 1rem;
}

.stock{
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
}

.stock-icon{
    height: 1rem;
}

.stock p{
    font-size: 1.2rem;
}

.in-stock{
    color: #78A962;
}

.out-stock{
    color: #C94D3F;
}

.img-product{
    display: block;
    margin: 0 auto;
}

.product-review{
    display: flex;
    gap: 0.5rem;
}

.product-review p{
    font-size: 1.2rem;
    color: #A2A6B0;
    border-bottom: 0.1rem solid #A2A6B0;
}

.info-product{
    margin-top: 2rem;
}

.info-product h3{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.old-price{
    font-size: 1.4rem;
    color: #666666;
    text-decoration: line-through;
}

.new-price{
    font-size: 1.8rem;
    font-weight: bold;
}

/* Products styles */
.title-section-produtcts{
    font-size: 1.8rem;
    color: #00000080;
    border-bottom: 0.1rem solid #a2a6b0;
    margin-bottom: 2rem;
    display: none;
}

.prodcut-filter-brands ul{
    display: flex;
}

.prodcut-filter-brands ul li{
    list-style: none;
    margin-right: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    color: #838383;
}

.prodcut-filter-brands ul li.product-brand-active{
    border-bottom: 0.2rem solid #0156FF;
    color: #000;
}

.notebooks-products, .cpu-products, .monitor-products{
    display: flex;
    margin-top: 3rem;
}

.product-cover{
    margin-right: 2rem;
}

.product-cover img{
    height: fit-content;
    width: 30rem;
}

/* Sponsors slider styles */
@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

#sponsors .container{
    display: flex;
    justify-content: center;
}

.content-sponsors{
    overflow: hidden;
    width: 140rem;
    height: 15rem;
}

.slider-sponsors{
    position: relative;
    display: flex;
    /* width: 200rem; */
    animation: scroll 10s linear infinite;
}

.slider-sponsors img{
    width: 20rem;
    height: 15rem;
}

/* Testimonials styles */
.content-testimonial{
    background-color: #F5F7FF;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

.name-testimonial{
    display: flex;
    justify-content: flex-end;
}

.controls-testimonial{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 3rem;
}

.controls-testimonial span{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #CACDD8;
    cursor: pointer;
}

.controls-testimonial span.active-testimonial, .active-testimonial{
    background-color: #0156FF;
}

/* Qualidade */
.info-quality{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
}

.card-quality{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin: 1rem 0;
}

.card-quality h1{
    font-size: 1.8rem;
}

.card-quality h2{
    width: 30rem;
    font-size: 1.4rem;
    color: #00000080;
    font-weight: normal;
}

/* Form styles */
.general-content-form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

.titles-form h1{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.info-content-form{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.line-form{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-auto-flow: column dense; */
    gap: 2rem;
    margin: 1rem 0;
}

.group-form{
    display: flex;
    flex-direction: column;
}

.group-form label{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.group-form label span{
    color: #C94D3F;
}

#error-message{
    background-color: #ff000070;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.2rem;
    font-weight: bold;
    border-radius: 1rem;
    display: none;
}


input[type="text"],
input[type="email"],
input[type="text"]:focus,
input[type="email"]:focus,
textarea{
    border: 1px solid #a2b6c0;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

textarea{
    width: 100%;
    height: 10rem;
    margin-bottom: 3rem;
}

input[type="submit"], input[type="button"]{
    background-color: #0156FF;
    border: none;
    padding: 1rem 3.5rem;
    margin: 0 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 3rem;
}

.infos-contact{
    background-color: #F5F7FF;
    padding: 5.5rem 3.5rem;
    height: 40rem;
}

.line-contact-info{
    display: flex;
    gap: 2rem;
}

.line-contact-info h3{
    margin-top: 1.5rem;
}

.line-contact-info h4{
    font-weight: normal;
    font-size: 1.3rem;
}

/* Footer styles */
footer{
    background-color: #000;
    color: #fff;
    padding-top: 5rem;
}

footer .container{
    margin: 0 auto;
}

.newsletter-footer{
    display: flex;
    justify-content: space-between;
}

.titles-newsletter h1{
    font-weight: normal;
}

.titles-newsletter h2{
    font-size: 1.6rem;
    font-weight: normal;
}

.input-newsletter{
    width: 30rem;
    margin-right: 2rem;
    color: #fff;
}

.input-newsletter input{
    margin: 0;
}

.input-form-newsletter{
    margin: 0;
}

.card-footer{
    margin: 3rem 0;
}

.card-footer span{
    color: #a2a6b0;
    font-weight: bold;
    font-size: 1.6rem;
}

.card-footer p{
    font-size: 1.4rem;
}

.card-footer a{
    color: #0156FF;
    text-decoration: none;
}

.additional-infos-footer{
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid #ffffff20;
    padding: 2rem 0;
    margin-top: 5rem;
}

/* Cart page styles */
.breadcrumb{
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li{
    display: inline;
    margin-right: 0.5rem;
}

.breadcrumb li a{
    text-decoration: none;
    color: #000;
}

.breadcrumb li:last-child{
    font-weight: bold;
}

.breadcrumb li:not(:last-child)::after{
    content: " > ";
    color: #777
}

.input-cep{
    position: relative;
}

.search-cep{
    position: absolute;
    top: 4rem;
    right: 1.5rem;
    background-color: #0156FF;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.info-products-order{
    display: flex;
    flex-direction: column;
}

.send-order{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2rem
}

.send-order input[type="button"]{
    margin-top: 3rem;
}

.disabled-send-order{
    background-color: #666666 !important;
    cursor: not-allowed;
    opacity: 0.8;
    box-shadow: none;
    pointer-events: none;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 4rem;
    font-size: 1.4rem;
}

thead tr th, tbody tr td{
    border-bottom: 0.1rem solid #CACDD8;
    padding-bottom: 1rem;
}

thead tr th:first-child{
    text-align: left;
}

tbody tr td{
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
}

tbody tr td:first-child{
    font-weight: normal;
}

.product-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-cart img{
    width: 10rem;
}

.infos-order{
    background-color: #F5F7FF;
    padding: 5.5rem 3.5rem;
    height: fit-content;
}

.infos-order h2{
    font-size: 1.8rem;
    font-weight: normal;
}

.infos-order h3{
    font-size: 1.4rem;
    color: #666666;
    font-weight: normal;
    margin-top: 1.5rem;
    border-bottom: 0.1rem solid #CACDD8;
    padding-bottom: 0.5rem;
}

.add-cuppon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 1.5rem 0;
}

.cuppon-error{
    color: #C94D3F;
    font-size: 1.4rem;
    display: none;
}

.cuppon-added{
    display: flex;
    justify-content: space-between;
}

.cuppon-added span{
    font-size: 1.8rem;
}

.cuppon-added h4{
    font-size: 1.5rem;
}

.line-info-order{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
}

.legend-order{
    font-size: 1rem;
    color: #a2a6b0
}

.total-order-value{
    font-size: 1.8rem;
}

.info-products-order-mobile{
    display: none;
}

.info-products-order-mobile ul{
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid #a2a6b0;
}

.info-products-order-mobile ul li{
    list-style: none;
    font-weight: bold;
}

.info-products-order-mobile img{
    width: 5rem;
    height: 5rem;
}

.info-products-order-mobile span{
    font-weight: bold;
    margin-left: 1rem;
}

/* Medium screens */
@media screen and (max-width: 1200px){
    .info-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .menu{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .action-icons{
        position: relative;
    }

    .mobile-menu-open{
        display: block;
        position: absolute;
        top: 15rem;
        right: 4rem;
        background-color: #333;
        padding: 2rem;
        border-radius: 0.5rem;
        z-index: 2;
    }

    .mobile-menu-open ul{
        flex-direction: column
    }

    .mobile-menu-open ul li{
        margin-bottom: 1.5rem;
    }

    .mobile-menu-open ul li:last-child{
        margin-top: 1rem;
    }

    .general-content-card-products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .info-quality{
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .general-content-form{
        grid-template-columns: 1fr;
    }

    .line-form{
        grid-auto-flow: unset;
        grid-template-columns: 1fr;
    }

    .infos-contact{
        width: 40rem;
        margin: 0 auto;
    }

    .newsletter-footer{
        flex-direction: column;
        justify-content: center;
    }

    .input-form-newsletter{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 3rem 0;
    }

    .input-form-newsletter input[type="submit"]{
        width: fit-content;
    }

    .additional-infos-footer{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .product-cover{
        display: none;
    }

    .title-section-produtcts{
        display: block;
    }

    table{
        display: none;
    }

    .info-products-order-mobile{
        display: block;
    }
}

@media screen and (max-width: 768px){
    .general-content-card-products{
        display: flex;
        flex-direction: column;
        align-items: center
    }
}